#WEB SERVER UI
WEB_UI_PORT=3000

#AUTHENTIK SETTINGS
AUTHENTIK_URL=http://your.authentik.instance:9000 # Authentik URL with Port Number If Internal
AUTHENTIK_TOKEN=your-api-token # Authentik API Token

# UI hidden prefixes (comma-separated)
USERS_HIDDEN_PREFIXES=ak-,adm_,nodered-
GROUPS_HIDDEN_PREFIXES=authentik, EVENT-, INCIDENT-

# UI (and API) action-lock prefixes (comma-separated, case-insensitive)
# If a username/group name starts with any of these prefixes, the UI hides all action buttons
# and the API rejects any mutating operations for that user/group.
USERS_ACTIONS_HIDDEN_PREFIXES=incident-,event-
GROUPS_ACTIONS_HIDDEN_PREFIXES=

#TAK SERVER SETTINGS
TAK_URL=https://tak.example.com:8443/Marti   # Marti link - should be https://tak.yourserver.gov:8443/Marti
TAK_API_P12_PATH=./certs/webadmin.p12
TAK_API_P12_PASSPHRASE=your-p12-password
TAK_CA_PATH=./certs/tak-ca.pem

# Optional: set to "false" to *not* revoke certs when disabling a user
TAK_REVOKE_ON_DISABLE=true # Revoke Certs when disabling users
TAK_DEBUG=false # Enable TAK Debugging output
TAK_BYPASS_ENABLED=true  # Disables the connection to TAK for User Disables / Deletes


#EMAIL CONFIGURATION
EMAIL_ENABLED=false
EMAIL_PROVIDER=smtp

SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false           # true for 465, false for 587/STARTTLS
SMTP_USER=
SMTP_PASS=
SMTP_FROM="TAK Admin <takadmin@example.com>"

EMAIL_ALWAYS_CC=       #CC
EMAIL_SEND_COPY_TO=    #Blind CC
EMAIL_FAIL_HARD=false      # if true, user operations fail when email fails

