# Bookmark Configuration

BOOKMARK1_TITLE=TAK Portal GitHub
BOOKMARK1_URL=https://github.com/AdventureSeeker423/TAK-Portal

BOOKMARK2_TITLE=Authentik
BOOKMARK2_URL=https://docs.goauthentik.io/

BOOKMARK3_TITLE=
BOOKMARK3_URL=

BOOKMARK4_TITLE=
BOOKMARK4_URL=

BOOKMARK5_TITLE=
BOOKMARK5_URL=

BOOKMARK6_TITLE=
BOOKMARK6_URL=

BOOKMARK7_TITLE=
BOOKMARK7_URL=

BOOKMARK8_TITLE=
BOOKMARK8_URL=
